@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans&family=Staatliches&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* max-width: 1440px; */
   overflow-x: hidden;
}
body {
  font-family: "open Sans", sans-serif;
  background: #fff;
  color: #333;
  
  height: 100%;
}
ul {
  list-style: none;
  
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300px;
  line-height: 1.2px;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}

/* Navbar*/
.header{
  position: sticky;
  top:0;
  z-index: 1;
}
.call-class{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar {
  color: #fff;
  padding: 40px 20px;
  margin: 0 5px;
}
.navbar a {
  color: #fff;
  padding: 30px 50px;
  /* margin: 0 5px; */
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}
.navbar ul {
  display: flex;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
.navbar.logo {
  font-weight: 400;
}
/*Header*/
.hero {
  background: url(../images/Group\ 12426.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}
 .content {
  display: flex;
  flex-direction: column;
} 
.hero .content {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.hero .content h1 {
  font-size: 55px;
}
.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px;
}
/* Icons*/
.icons i {
  background-color: #28a745;
}
/* .about {
  align-items: center;
  justify-content: center;
  background: #28a745;
  color: #fff;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  letter-spacing: 0px;
  top: 0px;
} */
#about {
  
  text-align: center;
  border-width:20px;
  height:100%;
  
}
.lowbudget {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #04AF53;
  padding: 50px;
  
}
.lowbudget-content{
  
}
.custom-margin-one{
  font-size: 28px;
  color:#fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.custom-margin-two{
  font-size: 18px;
  color:#fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn1{
  font-size: 17px;
  background-color: #ddd;
  color:black;
}
.book-button{
  display:flex;
  justify-content: center;
  gap:10px
}
.btn-book{
  font-size: 32px;
}
.moment-main{
  display:flex;
  justify-content: center;
  gap:10px
}
.moment-image{
  width: 55px;
  height: 69px;
}
.moment-main-p{
  font-size: 28px;
  /* font-weight: bold; */
  color: #000000;
  max-width: 721px;
  text-align: center;
  
  
}
.call-class1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:10px;
  padding: 10px 10px;
  margin: auto;
  border: none;
  border-radius: 7px;
}
.btn-book-p{
  font-size: 17px;
  max-width: 90px;
}
.btn1-class{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modern-image{
  width: 55px;
  height: 69px;
}
.modern-main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.modern-main-p{
  font-size: 28px;
  max-width: 721px;
  margin: auto;
  text-align: center;

}
.custom-margin{
  margin-bottom: .5rem;
  padding-top: 1rem;
  gap:2px;
}
.developed {
  background: url(../images/develop.png) no-repeat center center/cover;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.application-one{
  font-size: 28px;
  font-weight: bold;
  color:#FFFFFF;
}
.application-two{
  font-size: 18px;
  max-width: 894px;
  margin: auto;
  padding-bottom: 30px;
}
.developed ul {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1px;;
}
.developed ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.developed ul li :before {
  position: absolute;
  content: "";
  width: 50%;
  height: 0;
  background: #000;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.5s;
}
.developed ul li :after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0;
  background: #000;
  right: 0;
  top: 0;
  bottom: auto;
  z-index: 1;
  transition: 0.5s;
}

.developed ul li img {
  width: 170px;
  height: 170px;
  cursor: pointer;
}
.article h2{
  display:flex;
  margin:center;
 
}
.link {
  text-decoration: none;
}

.image {
  width: 30px;
  height: auto;
}
.btn-text {
  
  
}
.article {
  background: #fff;
  padding: 1rem;
}

.article {
  display: flex;
  text-align: center;
}
.article img{
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 50%;
  height: 50px;

}
.hire-one-p{
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}
.div-19{
  padding-bottom:20px;
  margin-top: 20px;
}
.oper-one-p{
  font-size: 28px;
  font-weight: bold;
  color:#000000;
}
.website {
  display:flex;
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: center;
  flex-direction: center;
  text-decoration: none;
 

  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
  
}
.website{
  margin:0;
  padding:0;
  display:inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: center;
}
.services img {
  width: 81px;
  height: 81px;
  padding-bottom: 30px;
}
.services {
   background: url(../images/Group\ 12306.png) no-repeat center center/cover; 
  color: #fff; 
  padding: 3em 2em;
  margin: 2rem;

}
.services p{
  font-size: 19px;
  max-width: 560px;
  color:#fff;
  
}
 .active {
  background-color: #28a745;
  color:#000;
   /* height:40px;  */
  border-radius:27px;
  border:2px;
  padding:10px;
  

}

  .app img{
    display:flex;
    height: 80px;
    padding:1em 0em;
    margin: 5px;
    width:2px;
    border: 6px;
    /* align-items:; */

  }
  .custom-flex{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 10px; 
     padding-bottom: 20px;
     margin-top: 20px;
  }
  .prov-p{
    font-size: 28px;
    color: #000000;
    font-weight: bold;
  }
 
  .essential{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 10px; 
     padding-bottom: 20px;
     margin-top: 20px;

  }
  .ofdev-one{
    font-size: 28px;
    color: #000000;
    font-weight: bold;
  }
 

  .main_div{
    display: flex;
   

  }
  .needs{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height:5px;
    width: 200px;
  }
  .point img {
   
    flex-direction:column-reverse;
    justify-content:center;
    height:500px;
    width: 500px;
    top:20px;
    align-items:flex-start;
  
  }
   .div-hire{
    display: flex;
    background: url(../image2/Group\ 11790.png) no-repeat center center/cover;
    padding: 50px;
  } 
  .comp-one-p{
    font-size: 51px;
    max-width: 690px;
    color: #FFFFFF;
  }
  .comp-two-p{
    font-size: 21px;
    color:#FFFFFF;
    padding-bottom: 20px;
  }
  .aid-class{
    font-size: 28px;
    font-weight: bold;
    color: #000000;
  }
  .custom-flex{
    display:flex;
  }
  .aid-one{
    width:43px;
    height: 25px;
  }
  .rate1{
    color:#00D563;
  }
 
 
  .outer-flex{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .inner-flex{
    display:flex;
    justify-content: center; 
  }
  .p-one{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  .p-two{
    font-size: 18px;
    color:#707070;
    max-width: 469px;
    
  }
  .div-hire1{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .custom-image{
    width: 65px;
    height: 53px;
  }
 .class-cronj{
  color:#00D563;
 
 }
 

.div-12{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

  


.div-13{
  width: 74px;
  height:74px

}
.btn-image2{
  width:30px;
  height: 20px;

}
.div-14{
  color:#707070;
  max-width:276px;
  margin: auto;
  
}
.exp-main{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div-15{
  font-size: 20px;
  max-width: 105px;
  margin: auto;
  color:#000000;
}
.div-24{
  font-size: 20px;
  font-weight: bold;
  color:#000000;
}
.div-16{
display:grid; 
grid-template-columns: 1fr 1fr 1fr 1fr;
background: url(../image4/green.png) no-repeat center center/cover;



}
.div-17{
display:flex;
align-items: center;
justify-content: center;
gap:10px;


}

.div-17 img{
  height: 62px;
  width:63px;
}
.div-17 img p{
height: 71px;
width: 65px;
}

.btn-5{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
   color:white;
   background-color: #00D563;
   padding:10px 30px;
   border-radius: 7px;
   border: none;
}
.div-19{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:5px;  
}
.div-19-image{
  width: 65px;
  height: 63px;
}

.external-div{
  margin:2rem;
  padding: 1rem;
  /* font-size: 56px; */
}
.big-font{
  font-size: 56px;
  color:#fff;
  font-weight: bold;
}
.div-18 p {
font-size: 21px;
color: #fff;
text-align: center;
width:258px;
}
.custom-margin{
  margin-top:5rem;
   margin-bottom: 1rem;  
}
.outer-flex{
  margin-top: 1rem;
  /* margin-bottom: rem; */
  padding-top: 2px;
  }

  .div-22{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  }
  
.div-23{
  width: 74px;
 height: 74px;
}
.div-25{
  font-size: 18px;
  color:#707070;
  max-width:276px ; 
 margin: auto;
 
}
.div-26{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:10px;
 
}

.gears-image{
  width: 60px;
  height: 60px;
}
.gears-p-one{
font-size: 28px;

}
.works-one{
  display:flex;
}
.div-30{
  display:grid;
  grid-template-columns:1fr 1fr 1fr ;  
}
#div-36{
   display:flex; 
  /* justify-items: center; */
  text-align: center;
  border-width:20px;
  height:100%;
 
}
.div-37{
  background-color: #04AF53;
  color: white;
  justify-content: center;
 
  padding:5rem;

}
.div-35{
  font-size: 32px;
  text-align: center;
  
}
.div-35-p{
  font-size: 18px;
  text-align: center;
}
.btn-6{
 display: flex; 
 justify-content: center;
 text-align: center;
 align-items: center;
 gap: 10px;
 margin: auto;
 padding: 10px 30px;
 border-radius: 20px;
 border: none;
  
}
.btn-image3{
  width: 16px;
  height:16px;

}
 
.div-40{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.image-process{
  width: 56px;
  height: 56px;
}
.image-one-svg{
  width:3rem;
  height: 3rem;
 
}


.bold-text{
  
  font-size: 20px;
  font-weight: bolder;
  color:#000;
}
.div-33{
  display:flex;
  gap:10px;
}
.outer-flex1{
  display:flex;
    justify-content: center;
    align-items: center;
}

.div-51{
  display:flex;
    justify-content: center;
   
     
 

}
.p-five{
  font-size: 20px;
  font-weight: bold;

}
.p-six{
  font-size: 18px;
  color:#707070;
  max-width: 483px;
  margin: auto;

}
.innov-main {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}
.process-p-four{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.process-p-five{
  font-size: 18px;
  color: #707070;
  max-width: 401px;
  margin: auto;
}
.innovation2-p{
font-size: 28px;
color: #000000;
font-weight: bold;
max-width: 721px;

}
.innovation2-image{
  width: 55px;
  height: 69px;
  margin: auto;
}

.resources1{
  display:grid;
  grid-template-columns:1fr 1fr ;
  background-color:#F7F8F7;
}
 .resources2{
  display:flex;
  gap:10px;
  padding: 1rem;
 
}


.project1{
  color:#fff;
  text-align: center;
  padding-top: 100px;
}
.project2{
  background: url(../image/backgrounof\ time.png)no-repeat center center/cover;
  padding: 60px;
}
.outsource-p{
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
}
.outsource-p-one{
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}

.btn10{
  font-size: 24px;
  color: #242525;
}
.btn-imag{
  width: 20px;
  height: 14px;
}
.project3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;

}
.interview {
display:flex;
   justify-content: center;
   align-items: center;
   gap:20px; 
   padding-bottom: 18px;
   margin-top: 18px;
}
.frame-image{
  width: 47px;
  height: 58px;
}
.mobile-image{
width: 617px;
height: 610px;
    
  }
  .mobile-3{
    width: 42px;
    height: 42px;
  }

 
.mobile1{
  display:flex;
  justify-content: center;
}

#result{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../image6/background.png)no-repeat center center/cover;
  height: 200px;
  margin-top: 25rem;;
 
}
/* .result1{
  margin-top: 20rem;
} */
.result3{
margin-right: 60rem;
padding-top: 3rem;
color:#fff;
}
.result2{
  margin-left: 60rem;
  
  /* padding-bottom: rem; */
}

.image11{
  height:37px;
  width:37px;
}
.btn11{
  display:flex;
color:#000;
font-size: 20px;
background-color: #fff;
padding: 10px;
border-radius: 9px;
/* padding-bottom:0px;
} */
}
.result3{
  /* padding-bottom: px; */
}
.main-offer{
display:flex;
justify-content: center;
align-items: center; 
gap:5px;
}
.offer1{
   display:flex;
justify-content: center;
align-items: center; 
gap:20px;
color:#000

}
.imag13{
  width: 45px;
  height:45px;
}
.p-service{
  font-size: 25px;
  color: #000000;
}
.range{
  display:flex;
  align-items: center;
  justify-content: center;
}
.range-p{
  font-size: 18px;
  color: #000000;
  max-width: 920px;
  margin: auto;
  text-align: center;
}
.outer-process{
display:flex;
justify-content: center;
}
.inner-process{
display:grid;
grid-template-columns:1fr 1fr 1fr ;
margin:7rem;
/* gap:5px; */
 padding-top: 1px;
margin-top: 2rem; 

}
.process1{
margin:3rem;
}
  .process2{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .image-15{
    width: 94px;
    height: 95px;
    padding-top: 3px;
  }
  .process3{
    color:#00D563 ;
    font-size: 20px;

  }
  .world-main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 1rem;
  }
  .main-testing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ecommerce-p-one{
    font-size: 18px;
    max-width: 469px;
    margin: auto;
  }
  .external-fashioning{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .fashioning-image-one{
    width: 596px;
    height: 627px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .fashioning-image{
    width: 74px;
    height: 74px;
  }
  .mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    position: fixed;
    padding: 0 24px;
    top:0;
    left: 0;
    width: 100%;
  }
  .hamburger{
    display:none;
    cursor: pointer;
    background: #2CCA9F;
    padding:0.5rem;
    border: none;
   } 
   
  .cronj-footer-p-two{
    font-size: 17px;
    color: #000000;
   
  }
  .internal-footer1{
   margin-top: 4rem;
   margin-left: 3rem;
  }
  .innernav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
   
  }
  .banner{
    position: relative;
    background: url(../image/backpf\ banner.png)no-repeat center center/cover;
    padding-top: 7rem;
    padding-bottom: 9rem;
  }
  .color-span{
 color: #00D563;
  }
  .banner-p-two{
    font-size: 21px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
  }
  .header-contact-p{
    font-size: 20px;
  }
  .header-contact-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding:10px 30px;
    background-color: #00D563;
    border: none;
    border-radius: 7px;
  }
  .banner-p-one{
    font-size: 51px;
    color: #FFFFFF;
    max-width: 1064px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }
  .button-nav{
    padding: 10px 20px;
    background-color: #00D563;
    border-radius: 27px;
    border:none;
  }
  .button-nav-p{
    font-size: 16px;
    color: #fff;
  }
  .nav-link{
    font-size: 17px;
    color: #FFFFFF;
  }
  .header-contact-image{
   width: 27px;
   height: 27px; 
  }
  .internal-fashioning{
    display:flex;
    justify-content: center;
    gap:20px;
    padding: 1rem;
  }
  .fashioning-image-one-div{
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .ecommerce-p{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    
  }
  .main-testing-p{
    font-size: 20px;
    color: #00D563;
  }
  .main-testing-p-one{
    font-size: 18px;
    max-width: 412px;
    margin: auto;
  }
  .testing-image{
    width: 94px;
    height: 94px;
  }
  .main-mobile{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
  }
  .mobilep{
    max-width: 483px;
   
  }
  .div-24{
    padding-bottom: 15px;
  }
  .cta-green-flex{
    display:flex;
    align-items: center;
    justify-content: space-between; 

  }
  .cta-green{
    background:url(../image6/background.png) no-repeat center center/cover;
    border-radius: 18px;
    padding: 50px;
    margin: 2rem;
  }
  .btngetstart{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 40px;
    border: none;
    border-radius: 12px;

  }
  .cta-p1{
    font-size: 30px;
    color:#fff;
  }
  .internal-footer1{
    /* text-align: center; */
    /* align-items: center; */
    /* margin: auto; */
  }
  .cta-p2{
    font-size: 19px;
    color:#fff;
    max-width: 475px;
    margin: auto;
  }

  .cost-process{
    background: url(../image9/background.png) no-repeat center center/cover;
    border-radius: 18px;
    padding: 50px;
    margin: 2rem;
  }
   .btn15 {
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:#000;
  background-color: #fff;
   padding: 10px 30px;
   border-radius: 10px; 
   gap:20px;
 border: none;
  } 
  .cost-average{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:5rem;
    padding:4rem 2rem;
  
  }
  .deliver{
    background: url(../image/background1.png)no-repeat center center/cover;
    padding: 50px;
  }
  .deliver-p{
    font-size: 28px;
    color: #fff;
    text-align: center;
  }
  .deliver-p-one{
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
  .deliver-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: auto;
    border: none;
   padding: 10px 20px;
   border-radius: 7px;
  }
  .deliver-image{
    width: 20px;
    height: 18px;
  }
  .cost-p1{
    font-size: 30px;
    color:#fff;
    max-width: 541px;
    margin: auto;
  }
  .cost-p2{
    font-size: 19px;
    color: #fff;
  }
  .image12{
  height:47px;
  width:31px;
}
.main-system{
  display: flex;
  justify-content: center;
}
.main-jsl{
  display:grid;
  grid-template-columns:1fr 1fr 1fr ; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.image33{
  width:364px;
  height: 187px;
}
.system-one{
  color:#000;
  font-size: 20px;
  font-weight: bold;
}
.system-two{
  font-size: 18px;
  max-width: 343px;
  margin: auto;
}
.more-button{
  font-size: 18px;
  color: #11AE5A;
}
.btn22{
  color:#00D563;
}
.expert{
  background: url(../image9/back1.png) no-repeat center center/cover;
  padding: 50px;
  
}
.experts-one{
color:#fff;
text-align: center;
justify-content: center;

}
.experts-two{
  font-size:25px ;
  max-width: 963px;
  margin: auto;
  
}
.us-button{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 7px;
  margin: auto;
  padding: 10px 30px;
}
.experts-three{
  font-size: 18px;
  padding-bottom: 10px;
}
.btn30{
  display: inline-block;
  font-size: 18px;
  color:#000;
  background: #fff;
  padding:13px 20px;
}
.image30{
  height:2rem;
  width:3rem
}
.hel-one{
  width: 33px;
  height: 33px;
}
.help{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.help p{
  color:#000;
  font-size: 24px;
}
.making-one{
 margin: 2rem;
 
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #cbe9d9 ;
 padding: 30px;
 border-radius: .6rem;
 
}

.accordingone{
  color:#000;
  font-size:20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.external-faq{
display:flex;
justify-content: space-between;
text-align: center;
align-items: center;
background-color: #0DAA55;
padding: 20px 30px;
margin: 2rem 0rem;
}
.cronj-footer-p{
  font-size: 18px;
  color: #000000;
 
}
.social-p-one{
  font-size: 20px;
  color: #000000;
}
.social-image-one{
  width: 66px;
  height: 66px;
}
.internal-footer{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.cronj-footer-p-one{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  padding:20px;
}
.cronj-footer{
  width: 158px;
  height: 69px;
}
.new-footer{
  background-color: #F6F9FC;
  padding: 60px;
}
.main-count{
  display: flex;
  gap:20px;
  padding: 0px 8px;
}
.count-image{
  width: 24px;
  height: 24px;
}
.outer-footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  
}
.external-faq-p-answer{
  font-size: 18px;
  color: #000000;
  justify-content: center;
  margin: auto;
  
}
.main-faq-section{
 margin: 3rem;
}
.answer-p{
  font-size: 18px;
  max-width: 1000px;
 margin: auto;
}
.plus{
  position: absolute;
  text-align: right;
}
.locations{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  margin:3rem;
}
.flags{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-one{
   
}
.social{
  
}
.image35{
  width: 85px;
  height: 80px;
}
.form-two{
  display:flex;
  justify-content:space-between;
  align-items:center ;
}
.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
 }
.pa-one{
  color:#000;
  font-size: 38px;
}
.form-one{
  margin:4rem;
}
.pa-two{
  font-size: 20px;
}
/* .callform{
  display: flex;
  justify-content:space-between;
  align-items: center;
}  */

.callback-one{

  display: flex;
  flex-direction:column;
}
.callback-one input{
  height:42px;
}
.form{
  margin:6rem;
}
.faq-green{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .form{
  background: url(../image9/Path\ 5630.png) no-repeat center center/cover;
} */
.btn40{
display: inline-block;
font-size: 18px;
color:#000;
background:#0F4DC2;
padding:13px 20px;
}
.btn-image{
  height: 30px;
  width: 20px;
}
.main-app-site{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:10px;
}
.div-51{
  display:flex;
  justify-content: center;
  align-items: center;
}
.app-image{
  /* width: 83px;
  height: 47px; */
}
.main-gaints{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #F7F8F7;
}
.inner-gaints-image{
  width: 74px;
  height: 74px;
  padding: 10px;
}
.inner-gaints-p-one{
  font-size: 20px;
  margin: auto;
  padding: 20px;
}
.inner-gaints{
 background-color: #FFFFFF;
 box-shadow: 10px 10px 20px #FFFFFF;
 padding: 50px;
 margin: 2rem;
}
.main-year{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #04AF53;
  padding: 60px;
  
}
.inner-jsl{
  padding:1rem;
}
.max-year{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.min-year-p{
  font-size: 58px;
  color: #FFFFFF;
}
.min-year-p-one{
  font-size: 21px;
  color: #FFFFFF;
}
.min-year{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:20px;
}
.inner-gaints-p-two{
  font-size: 18px;
  color: #707070;
  margin: auto;
}
.min-year-image{
  width: 62px;
  height: 62px;
}
.talent-image{
  width: 74px;
  height: 74px;
}
.talent-p{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.main-talent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.talent-p-one{
  font-size: 18px;
  max-width: 276px;
  margin: auto;
}
.debug-main-image{
  width: 47px;
  height: 47px;
}
.debug-main{
  display:flex;
  justify-content: center;
  text-align: left;
  gap:30px;
  margin: 1rem 0rem;
}
.java-p{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.main-vue{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
  text-align: center; 
}
.design-main-image{
  width: 42px;
  height: 42px;
}
.main-design{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.design-main-pone{
  font-size: 20px;
  color: #000000;
}
.design-main-ptwo{
  font-size: 18px;
  max-width: 483px;
  margin: auto;
}
.inner-design-image{
  width: 645px;
  height: 535px;
}
.inner-design{
  display: flex;
  justify-items: center;
  gap:20px;
  padding: 1rem;
}

.frame-pone{
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}
@media(max-width:425px){
  .aid-class{
    font-size: 12px;
  }
  .cta-green-flex{
    display:block; 
  }
  .social-image-one{
    width: 50px;
    height: 50px;
  }
  .cta-p1{
    font-size: 20px;
  }
  .cta-p2{
    font-size: 15px;
    
    max-width: 475px;
   
  }
  .cta-p2{
    padding-bottom: 20px;
  }
  .world-main{
    display:flex;
    gap:10px;
    padding: 0rem;
  }
  .interview {
       gap:10px; 
    }
  .main-design{
    display: block;
    
  }
  .mobile-image{
    width: 450px;
    height: 500px;    
      }
  
  .frame-pone{
    font-size: 17px; 
  }
  .min-year-p{
    font-size: 38px;
    
  }
  .btn10{
    font-size: 18px;
    
  }
  .moment-main{
    gap:5px
  }
  .moment-main-p{
    font-size: 20px;
    /* font-weight: bold; */
    color: #000000;
    max-width: 600px;
    text-align: center; 
  }
  .project3{
    padding: 1rem 1rem;
  }
  .inner-gaints{
   padding: 30px;
   margin: 1rem;
  }
  .inner-gaints-p-two{
    font-size: 12px;
   
  }
  .external-fashioning{
    display: block;
    grid-template-columns: 1fr 1fr;
  }
  .banner-p-one{
    font-size: 31px;
    max-width: 700px;
  }
  .banner-p-two{
    font-size: 31px;
  }
  .comp-one-p{
    
    max-width: 580px;
    margin: auto;
  }
  .comp-two-p{
    margin: auto;
    
  }
  .div-hire1{
    gap:5px;
  }
  .custom-image{
    margin-left:1rem ;
  }
  .header-contact-button{
    padding:10px 20px;
  
  }
  
}
@media(max-width:768px){
  .aid-class{
    font-size: 22px;
  }
  .comp-one-p{
    font-size: 41px;
  }
  .nav-link{
    color:#2CCA9F;
  } 
 .hamburger{
   display:block;
 }
    .hamburger.active .bar:nth-child(2){
   opacity:0;
 }
 .hamburger.active .bar:nth-child(1){
   transform:translateY(8px) rotate(45deg);
 }
 .hamburger.active .bar:nth-child(3){
   transform:translateY(-8px) rotate(-45deg);
 }
 .innernav{
  position: fixed;
  left:-100%;
  top:70px;
  gap:0;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
}
.innernav.active{
  left:0;
 } 
  .active1{
  display:none;
} 
 .active2{
  display:block;
}
  .outer-talent{
   margin-top:20px ;
  }
  .internal-footer1{
    justify-content: center;
    text-align: center;
  }
  .main-count{
    display: flex;
    justify-content: center; 
 
  }
 .outer-count{
  margin: auto;
  
 }
  .cost-average{
    display:block;
    align-items: center;
    justify-content: space-between;
    gap:5rem;
    padding:2rem 2rem;
  
  }
  .main-gaints{
    display:block;
    
  }
  .main-mobile{
    display:block;
  }
  .frame-pone{
    font-size: 20px;
   
  }
  .inner-design{
    display: block;
    justify-items: center;
    gap:20px;
    padding: 1rem;
  }
  .main-year{
    display: block;
    
    
  }
  .main-talent{
    display: block;
  }
  .talent-p-one{
    
  font-size: 14px;
      
   
  }
  .main-vue{
    display: block;
  }
 .banner-p-one{
    font-size: 41px;
  }
  .internal-fashioning{
    display:block;
    justify-content: center;
    gap:20px;
    padding: 1rem;
  }
  .resources1{
    display:block;
    
  
  }
  .resources2{
   
    padding: 2rem;
   
  }
  .main-testing{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn15 {
     padding: 10px 30px;
     gap:10px;
    
  
    } 
    .main-jsl{
      display:block;
      grid-template-columns:1fr 1fr 1fr ; 
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 1rem;
    }
    .outer-footer{
      display: block;
      
    }
    .social-p-one{
      font-size: 20px;
      color: #000000;
      text-align: center;
    }
    .social-image-one-p{
      justify-content: center;
      text-align: center;
    }
 
}
@media(max-width:1024px){

}


    

  
  
  








